<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.lesson17prev.persistence.CompanyRepository">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        Insert into Companies (name, description) values (#{name}, #{description});
    </insert>

    <sql id="simplifiedFindBody">
        c.id as company_id,
        c.name as company_name,
        c.description as company_description
    </sql>

    <sql id="find">
        Select
        <include refid="simplifiedFindBody"/>,
            c.created_at as company_created_at,
            c.modified_at as company_modified_at,
        <include refid="com.solvd.lesson17prev.persistence.EmployeeRepository.findBody"/>
        From
            Companies c
        Left Join
        <include refid="com.solvd.lesson17prev.persistence.EmployeeRepository.findJoins"/>
        On
            c.id = e.company_id
    </sql>

    <select id="findAll" resultMap="CompanyResultMap">
        <include refid="find"/>
        <![CDATA[Where e.age > 18]]>
    </select>

    <resultMap id="CompanyResultMap" type="com.solvd.lesson17prev.domain.Company" autoMapping="false">
        <id property="id" column="company_id"/>
        <result property="name" column="company_name"/>
        <result property="description" column="company_description"/>
        <result property="createdAt" column="company_created_at"/>
        <result property="modifiedAt" column="company_modified_at"/>
        <collection property="employees" columnPrefix="company_"
                    resultMap="com.solvd.lesson17prev.persistence.EmployeeRepository.EmployeeResultMap"/>
    </resultMap>
</mapper>